extends layout

block content
  a(href="/") На главную
  hr
  h1= title
  form(action="/register", method="post")
    p Введите Имя
    input(type="text" name='name')
    p Введите Email
    input(type="text" name='email')
    br
    p Введите пароль
    input(type="password" name='password')
    br
    br
    button(type="submit") Зарегистрироваться
